li.social-media-links {
  ul.social-links-list {
    display: inline;
    li {
      margin-right: 15px;
      display: inline;

      a {
        color: $dark-gray;
        display: inline;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}
